<p id="notice"><%= notice %></p>

<h1>Gl Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Transaction type</th>
      <th>Transaction date</th>
      <th>From party</th>
      <th>To party</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gl_transactions.each do |gl_transaction| %>
      <tr>
        <td><%= gl_transaction.transaction_type %></td>
        <td><%= gl_transaction.transaction_date %></td>
        <td><%= gl_transaction.from_party %></td>
        <td><%= gl_transaction.to_party %></td>
        <td><%= gl_transaction.description %></td>
        <td><%= link_to 'Show', gl_transaction %></td>
        <td><%= link_to 'Edit', edit_gl_transaction_path(gl_transaction) %></td>
        <td><%= link_to 'Destroy', gl_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gl Transaction', new_gl_transaction_path %>
