<%= form_with(model: gl_account, local: true) do |form| %>
  <% if gl_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gl_account.errors.count, "error") %> prohibited this gl_account from being saved:</h2>

      <ul>
      <% gl_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :account_category_id %>
    <%= form.text_field :account_category_id %>
  </div>

  <div class="field">
    <%= form.label :account_code %>
    <%= form.text_field :account_code %>
  </div>

  <div class="field">
    <%= form.label :parent_code %>
    <%= form.text_field :parent_code %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
