<p id="notice"><%= notice %></p>

<h1>Gl Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Account category</th>
      <th>Account code</th>
      <th>Parent code</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gl_accounts.each do |gl_account| %>
      <tr>
        <td><%= gl_account.account_category_id %></td>
        <td><%= gl_account.account_code %></td>
        <td><%= gl_account.parent_code %></td>
        <td><%= gl_account.name %></td>
        <td><%= gl_account.description %></td>
        <td><%= link_to 'Show', gl_account %></td>
        <td><%= link_to 'Edit', edit_gl_account_path(gl_account) %></td>
        <td><%= link_to 'Destroy', gl_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gl Account', new_gl_account_path %>
