<p id="notice"><%= notice %></p>

<p>
  <strong>Account type:</strong>
  <%= @gl_account.account_type %>
</p>

<p>
  <strong>Account code:</strong>
  <%= @gl_account.account_code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @gl_account.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gl_account.description %>
</p>

<%= link_to 'Edit', edit_gl_account_path(@gl_account) %> |
<%= link_to 'Back', gl_accounts_path %>
